<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
</head>
<body>
    <h1>User Information</h1>

    <!-- 사용자 정보 표시 -->
     <p><strong>UserNo:</strong> <span th:text="${user.userNo}">userNo</span></p>
    <p><strong>Username:</strong> <span th:text="${user.name}">Name</span></p>
    <p><strong>UserId:</strong> <span th:text="${user.id}">UserID</span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>
    <p><strong>Provider:</strong> <span th:text="${user.loginType}">Provider</span></p>
    <p><strong>Phone:</strong> 
        <span th:if="${user.phone != null}" th:text="${user.phone}">Phone</span>
        <span th:if="${user.phone == null}">Not available</span>
    </p>
    <p><strong>Address:</strong> 
        <span th:if="${user.address1 != null}" th:text="${user.address1} + ' ' + ${user.address2}">Address</span>
        <span th:if="${user.address1 == null}">Not available</span>
    </p>
    <p><strong>Zipcode:</strong> 
        <span th:if="${user.zipcode != null}" th:text="${user.zipcode}">Zipcode</span>
        <span th:if="${user.zipcode == null}">Not available</span>
    </p>
    <p><strong>Points:</strong> <span th:text="${user.point}">0</span></p>

    <br>

    <!-- 로그아웃 버튼 -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</body>
</html>